<form method="POST" action="/users/signup">
    <fieldset class="container">
            <legend>Inscription</legend><br>
        
        <label for="username">Nom Utilisateur</label>
        <input type="username" name="username" id="username" required> <br><br>
        <label for="email">Votre Email</label>
        <input type="email" name="email" id="email" required> <br><br>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required> <br><br>
        <input type="submit" value="Créér un compte">
    </fieldset>
</form>