<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/users/signup">
        <fieldset class="container">
                <legend>Inscription</legend><br>
            
            <label for="username">Nom Utilisateur</label>
            <input type="text" name="username" id="username" required> <br><br>
    
            <label for="email">Votre Email</label>
            <input type="email" name="email" id="email" required> <br><br>
    
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" required> <br><br>
            <input type="submit" value="Créer un compte">
            <a href="/">retour Accueil</a>
        </fieldset>
    </form>
    
</body>
</html>
