h1{
    display: flex;
    justify-content: center;
    width: 750px;
}

a{
   gap: 10px;
}

form button{
    all: unset;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    background-color:  #2c3e50;
    padding: 5px 20px 5px 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttons{
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

